.button {
	
	background: #1da1f2;
	text-decoration: none;
	color: #fff;
	border: 1px solid #1da1f2;
	border-radius: 100px;
	padding: 0 5px;
	cursor: pointer;

}

.button:focus {
	
	outline: none;

}

.disabled {
	
	background: none;
	border: none;
	color: inherit;
	cursor: default;

}